/* --- Sudoku Grid Container --- */
.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 450px; 
    height: 450px;
    /* Outer border remains thick black */
    border: 3px solid #000; 
    margin: 0 auto;
    background-color: #fff;
    box-sizing: content-box; 
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Use ONLY a thin border-bottom and border-right */
    border-bottom: 1px solid #adb5bd; 
    border-right: 1px solid #adb5bd;
    /* We will define the TOP and LEFT borders using overrides below */
    
    font-size: 24px; 
    color: #000;
    box-sizing: border-box;
    padding: 0;
}
/* Note: Input styles remain the same for font size/spinners */
